#phone{
outline: 0;

height: 45px;

}
#phone:valid{
border-color: green;
}
#phone:focus:invalid{
border-color: red;
}

.about-btn {
	color: #8e1efc;
	padding: 10px 40px;
	border: 2px solid #8e1efc;
	border-radius: 7px;
	margin-top: 30px;
	display: inline-block;
	font-size: 18px;
}
.about-btn:hover {
	background:#8e1efc;
	color:#ffffff;
	text-decoration:none;
}
.error-message1{
	color: green;
}