#phone{
outline: 0;

height: 45px;

}
#phone:valid{
border-color: green;
}
#phone:focus:invalid{
border-color: red;
}
.error-message1{
    font-weight: bold;
    font-size: small;
    font-style: italic;
    color: green;
}