
<div class="container">
    <h1 class="well">New Sim Registration</h1>
    <div class="row">
      <form  (ngSubmit)="onRegistrationFormSubmit()" [formGroup]="registerForm">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>Name</label>
              <input type="text" placeholder="Enter First Name Here.." formControlName="firstName" class="form-control" />
              <div *ngIf="registerForm.get('firstName').errors  && submitted">
                <div *ngIf="registerForm.get('firstName').hasError('required')">
                  <span style="color: red;">Please enter your name!</span>
                </div>
                <div *ngIf="registerForm.get('firstName').hasError('minlength')">
                  <span style="color: red;">Name requies atleast 3 characters.</span>
                </div>
                <div *ngIf="registerForm.get('firstName').hasError('maxlength')">
                  <span style="color: red;">Name can have max 30 characters.</span>
                </div>
                <div *ngIf="registerForm.get('firstName').hasError('pattern')">
                  <span style="color: red;">Only characters are allowed.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>Email</label>
              <input type="text" placeholder="Enter Email Address Here.." formControlName="email" class="form-control" />
              <div *ngIf="registerForm.get('email').errors && submitted">
                <div *ngIf="registerForm.get('email').hasError('required')">
                  <span style="color: red;">Please enter your email-id!</span>
                </div>
                <div *ngIf="registerForm.get('email').hasError('minlength')">
                  <span style="color: red;">The email requires atleast 5 characters.</span>
                </div>
                <div *ngIf="registerForm.get('email').hasError('maxlength')">
                  <span style="color: red;">The email requires only 80 characters.</span>
                </div>
                <div *ngIf="registerForm.get('email').hasError('pattern')">
                  <span style="color: red;">The email is not valid.</span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Phone Number</label>
              <input type="text" placeholder="Enter Phone Number Here.." formControlName="phoneNumber" class="form-control" />
              <div *ngIf="registerForm.get('phoneNumber').errors && submitted">
                <div *ngIf="registerForm.get('phoneNumber').hasError('required')">
                  <span style="color: red;">Please Enter Phone Number.</span>
                </div>
                <div *ngIf="registerForm.get('phoneNumber').hasError('minlength')">
                  <span style="color: red;">Phone Number requied atleast 8 characters.</span>
                </div>
                <div *ngIf="registerForm.get('phoneNumber').hasError('maxlength')">
                  <span style="color: red;">Phone Number requied only 12 characters.</span>
                </div>
                <div *ngIf="registerForm.get('phoneNumber').hasError('pattern')">
                  <span style="color: red;">Only Numbers are allowed.</span>
                </div>
              </div>
            </div>
            </div>
          <div formGroupName="addressGroup" class="form-group">
            <label>Address</label>
            <textarea placeholder="Enter Address Here.." rows="2" formControlName="address" class="form-control"></textarea>
            <div *ngIf="registerForm.get('addressGroup.address').errors && submitted">
              <div *ngIf="registerForm.get('addressGroup.address').hasError('required')">
                <span style="color: red;">Please Enter Address.</span>
              </div>
              <div *ngIf="registerForm.get('addressGroup.address').hasError('maxlength')">
                <span style="color: red;">Only 255 characters are allowed.</span>
              </div>
            </div>
          </div>
          <div formGroupName="addressGroup" class="row">
            <div class="col-sm-4 form-group">
              <label>City</label>
              <input type="text" placeholder="Enter City Name Here.." formControlName="city" class="form-control" />
            </div>
            <div class="col-sm-4 form-group">
              <label>State</label>
              <input type="text" placeholder="Enter State Name Here.." formControlName="state" class="form-control" />
            </div>
            <div class="col-sm-4 form-group">
              <label>PinCode</label>
              <input type="text" placeholder="Enter Zip Code Here.." formControlName="pincode" class="form-control" />
              <div *ngIf="registerForm.get('addressGroup.pincode') && submitted">
                <div *ngIf="registerForm.get('addressGroup.pincode').hasError('required')">
                  <span style="color: red;">Please Enter PinCode.</span>
                </div>
                <div *ngIf="registerForm.get('addressGroup.pincode').hasError('minlength')">
                  <span style="color: red;">PinCode requied atleast 6 characters.</span>
                </div>
                <div *ngIf="registerForm.get('addressGroup.pincode').hasError('maxlength')">
                  <span style="color: red;">PinCode requied only 8 characters.</span>
                </div>
                <div *ngIf="registerForm.get('addressGroup.pincode').hasError('pattern')">
                  <span style="color: red;">Only alph-numerics are allowed.</span>
                </div>
              </div>
            </div>
          </div>
        <br>
          <button type="submit" class="btn btn-lg btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>