<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- topbar -->
  <div class="container-fluid bg-dark py-2 d-none d-md-flex">
    <div class="container">
        <div class="d-flex justify-content-between topbar">
            <div class="top-info">
                <small class="me-3 text-white-50"><a href="#"><i class="fas fa-map-marker-alt me-2 text-secondary"></i></a>23 Ranking Street, New York</small>
                <small class="me-3 text-white-50"><a href="#"><i class="fas fa-envelope me-2 text-secondary"></i></a>Email@Example.com</small>
            </div>
            <div id="note" class="text-secondary d-none d-xl-flex"><small>Note : We help you to Grow your Business</small></div>
            <div class="top-link">
                <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-facebook-f text-primary"></i></a>
                <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-twitter text-primary"></i></a>
                <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle"><i class="fab fa-instagram text-primary"></i></a>
                <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle me-0"><i class="fab fa-linkedin-in text-primary"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- topbar-end -->
<!-- navbar -->
<div class="container-fluid bg-primary">
    <div class="container">
        <nav class="navbar navbar-dark navbar-expand-lg py-0">
            <!-- <a href="index.html" class="navbar-brand">
                <h1 class="text-white fw-bold">Pfs<span class="text-dark">System</span> </h1>
            </a> -->
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse">
                <div class="navbar-nav ms-auto mx-xl-auto">
                    <a routerLink="/home" routerLinkActive="active" href="index.html" class="nav-item nav-link "><i class="fa-solid fa-house"></i>Home</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pre-paid</a>
                        <div class="dropdown-menu rounded">
                            <a routerLink="/recharge" routerLinkActive="active" href="recharge.html" class="dropdown-item">Recharge</a>
                            <a href="newsim.html" class="dropdown-item">Get new sim</a>
                            <a routerLink="/viewplan" routerLinkActive="active" href="viewplans.html" class="dropdown-item">View plans</a>
                        </div>
                    </div>
                    <a routerLink="/login" routerLinkActive="active" href="login.html" class="nav-item nav-link"><i class="fa-solid fa-user" ></i>Login</a>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- navbar-end -->

<h1></h1>
</body>
<router-outlet></router-outlet>
</html>



