.bg-body-tertiary{
  float: left;
  height: 25px;
}
.nav-tabs{
margin-top: 20px;
}
.nav-item{
  height: 20px;
  margin-top: 10px;
}
  h1{
      background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }